<nav class= "navigationWrapper">
      
    <ul class="navigation">
      <li class="parent"><a class="link" href='/'>Home</a></li>
      <li class="parent"><a class="link" href='/comment'>Comment</a></li>
      <li class="parent"><a class="link" href="">About</a></li>
      <li class="parent"><a href="/addComment">Add new Comment</a></li>
       <li class="parent"><a class="link" href="/register">Register</a></li>

       <div>
        <!-- <li> <a onclick="history.back()"> back</a> </li> -->
       </div>
    </li>
    </ul>


     <button onclick="history.back()">Go Back</button> 
  </nav>



  