<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edited Page</title>
</head>
<body>
    

    <%- include('./partials/nav.ejs') -%>

    <form action="/updateComment/<%=blog._id%>" method="post">
        <h2>Post a message</h2>
        <div>
            <h3>Title</h3>
        <input type="text" name="title" id="userName"  value="<%= blog.title %> "style="margin-bottom:15px ;">
    </div>
        <textarea type="text" name='post'  style="width: 20%;"><%= blog.post %></textarea>
        
        <button type="submit"  >Post a message</button>
    
    </form>



</body>
</html>