


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>subPost</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    


    <%- include('./partials/nav.ejs') -%>



    <% subblog.forEach(function (subPost) { %>
        <div id="border">
        
            <div id="commentBorder">
                     <h2 id="userName"> <b>Title:</b> <%= subPost.title %></h2>
                  <h4  id="name">  <b>Comment:</b> <%= subPost.post.slice(0,85) %>...... </h4>
                       <a href="/fullarticle/<%= subPost._id %>">see more...</a>
    </div>
    <% }) %> 
        </div>
</body>
</html>




