
.border{
    width: 60%;
    display: flex;
    margin-left: 20%;
    margin-top: 5%;
    background-color: bisque;
    
}


.breakSide {
    width: 100%;
    padding: 5%;
}

.breakSide button{
    width: 20%;
}

.minSide {
    display:inline-block;
        width: 120%;
        padding: 5%;
}

.breakSide {
    width: 100%;
    padding: 5%;
}
.breakSide h1 {
    display:inline-block;
}

.minSide button{
    width: 20%;
    display:inline-block;
}
.minSide h2 {
    width: 90%;
    margin-right: 30px;
    display:inline-block;

}
.minSide h1  {
    display:inline-block;
    
    
}


.minSide h1 p {
    display:inline-block;
    
    
}


#result {
    width: 30%;
    height: 150px;
    border: 2px slateblue double;
    border-radius: 50%;
    padding-left: 10%;
    padding-top: 7%;
  
    background-color: aqua;
}

.resultScreen {
    margin: 10%;
    margin-left: 40%;
    margin-top: 5%;
  

}