<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../public/style.css">
</head>
<body>
    


    <%- include('./partials/nav.ejs') -%>

<div >
   
    <div class="text-center mb-3 mt-5">
       
    </div>
    <div class="text-center mb-4">
        <h4>Login into account</h4>
    </div>
    
    <form class="px-3" action="/userlogin" method="post">
        
        <div class="form-input">
            <span><i class="fa fa-envelope"></i></span>
            <input type="email" name="userName" placeholder="user name" tabindex="10"required>
        </div>
        <div class="form-input">
            <span><i class="fa fa-lock"></i></span>
            <input type="password" name="password" placeholder="Password" required>
        </div>
        <div class="row mb-3">
       
            <div class="col-auto d-flex align-items-center">
                <div class="custom-control custom-checkbox">
                    <input type="checkbox" class="custom-control-input" id="cb1">
                       <label class="custom-control-label" for="cb1">Remember me</label>
                </div>
            </div>
           </div>
         
        <div class="mb-3"> 
            <button type="submit" class="btn btn-block">Login</button>
        </div>
        <div class="text-right ">
            <a href="reset.html" class="forget-link">Forgot password?</a>
        </div>
        <div class="text-center mb-2">
               <div class="text-center mb-3" style="color: #777;">or login with</div>
                   
              
        </div>
        <div class="text-center mb-5" style="color: #777;">Don't have an account? 
            <a class="register-link" href="/register">Register here</a>
           </div>
    </form>
</div>




    
</body>
</html>