<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
    <link rel="stylesheet" href="style.css">
</head>
<body>
  <%- include('./partials/nav.ejs') -%>

    <div class="formbold-main-wrapper">
        <!-- Author: FormBold Team -->
        <!-- Learn More: https://formbold.com -->
        <div class="formbold-form-wrapper">
          
          
      
          <form action="https://formbold.com/s/FORM_ID" method="POST">
            <div class="formbold-form-title">
              <h2 class="">Register now</h2>
              <p>
                So you will get email for your registration
              </p>
            </div>
      
            <div class="formbold-input-flex">
              <div>
                <label for="firstname" class="formbold-form-label">
                  First name
                </label>
                <input
                  type="text"  name="firstName"  id="firstname" class="formbold-form-input"/>
              </div>
              <div>
                <label for="lastname" class="formbold-form-label"> Last name </label>
                <input
                  type="text"  name="lastName" id="lastname" class="formbold-form-input"/>
              </div>
              <div>
                <label for="username" class="formbold-form-label"> User Name </label>
                <input
                  type="text"  name="userName" id="username" class="formbold-form-input"/>
              </div>
            </div>
      
            <div class="formbold-input-flex">
              <div>
                <label for="email" class="formbold-form-label"> Email </label>
                <input type="email" name="email" id="email"  class="formbold-form-input"/>
              </div>
              <div>
                <label for="phone" class="formbold-form-label"> Phone number </label>
                <input type="text"   name="phone"  id="phone"   class="formbold-form-input"/>
              </div>
            </div>
      
            
      
        
            </div>
      
      <button class="formbold-btn" type="submit">Register Now</button>     
      
            
          </form>
        </div>
      </div>
      
    </body>
    </html>