*{
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
   }
   
   #container{
    width: 100%;
    background-color: silver;
    margin: 0px auto;
    height: auto;
    /*display: grid;
    grid-template-columns: 25% 25% 25% 25%; */

    }

   #header{
    height: 150px;
    background-color: blue;
    color: rgb(249, 249, 253);
    text-align: center;
    padding-top: 50px;
    /* grid-colums:1/5; */

    }

   #nav_bar{
    height:auto;
    width: 25%;
    background-color: red; 
    position: absolute;
    margin-right: 2%; 
    
    /* grid-row: 1/3; */
    }

   #nav_bar  li{
    list-style: none;
    text-decoration: none;
    color: rgb(4, 5, 12);
   }

   li a {
    text-decoration: none;
   }
    
    #main_content{
    height: auto;
    margin-left: 27% ;
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 3%;
    background-color: yellow;
    }

   .subcontent{
    height: auto;
    width: 100%;
    background-color: purple;
    margin-left: 20px;
    }

   #advertisements{
    height: auto;
    width: 100%;
    background-color: pink;
   grid-column: 1/4;
    margin-top: 2px;
    margin-bottom: 4%;
    padding: 1%;
    margin-left: 20px;   
   }

