#border {
    border: 3px double saddlebrown ;
    margin: 30px;
    margin-top: 10%;
    width: 50%;
    margin-left: 15%;
    padding-left: 10%;

    
}

#result {
    width: 50%;
    height: 30px;
    margin: 1%;
    background-color: rgb(228, 243, 243);
}

.btn btn-outline-primary{
    width: 10%;
    height: 40px;
    padding: 1%;
    margin: 3px;
}

.markButtons {
    width: 50px;
    height: 40px;
    padding: 1%;
    margin: 3px;
}